/* 
--------------------------------------------------------
ISSUES

- hover overlay button is centred to image, not the overflow hidden item
--------------------------------------------------------
*/


/* 
--------------------------------------------------------
00 - Foundation
--------------------------------------------------------
*/

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    background-image: linear-gradient(110deg, #abf93d, #47d9b2);
    min-height: calc(100vh - 100px); /* 100vh minus the margin on body */
    margin: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}

p {
    margin: 0 0 2rem 0;
}

/* 
--------------------------------------------------------
01 - Gallery
--------------------------------------------------------
*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    border: 0.8rem dashed var(--color-black);
}

.item {
    overflow: hidden;
    /* sub grid instead of using absolute on overlay */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.item img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
}

.item.v2 {
    grid-row: span 2;
}
.item.v3 {
    grid-row: span 3;
}
.item.v4 {
    grid-row: span 4;
}
.item.h2 {
    grid-column: span 2;
}
.item.h3 {
    grid-column: span 3;
}
.item.h4 {
    grid-column: span 4;
}

/* 
--------------------------------------------------------
02 - Item overlay
--------------------------------------------------------
*/

.item__overlay {
    background: #bb007090;
    /* overlay can happen if the grid-column/row matches the overlapping element (.item) */
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    /* Centre the button inside the overlay */
    display: grid;
    justify-items: center;
    align-items: center;
    /* animation for overlay on hover, 100% off the bottom to start */
    transform: translateY(100%);
    transition: 0.2s;
}

.item__overlay button {
    background: none;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.7);
    padding: 0.6rem;
    cursor: pointer;
}

.item:hover .item__overlay {
    transform: translateY(0);
}

/* 
--------------------------------------------------------
02 - Modal overlay
--------------------------------------------------------
*/

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.overlay.open {
    display: grid;
    align-items: center;
    justify-items: center;
}

.overlay-inner {
    background: white;
    width: 700px;
    padding: 20px;
}

.overlay img {
    width: 100%;
}

.close {
    background: none;
    color: black;
    border: 0;
    cursor: pointer;
}
