/*
--------------------------------------------------------------------
TYPOGRAPHY
--------------------------------------------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

html {
    height: 100vh; /* removes css gradient banding defined in body */
}

body {
    font-family: 'DM Mono', monospace;
    background-image: linear-gradient(260deg, #2376ae, #c16ecf 100%);
    margin: 0;
}

/*
--------------------------------------------------------------------
STRUCTURE
--------------------------------------------------------------------
*/

.wrapper {
    max-width: 100rem;
    margin: 0 auto;
    padding: 50px;
}

/*
--------------------------------------------------------------------
NAVIGATION
--------------------------------------------------------------------
*/

a {
    color: var(--color-white);
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem 0.5rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.flex-nav ul {
    border: 1px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.flex-nav li {
    flex: 3; /* take 3x space as the social buttons */
}
.flex-nav .social {
    flex: 1;
}

@media all and (max-width: 1000px) {
    .flex-nav ul {
        flex-wrap: wrap; /* in order to wrap we need to set flex-basis on children */
    }
    .flex-nav li {
        flex: 1 1 50%; /* flex-basis 50% puts them in columns */
    }
    .flex-nav .social {
        flex: 1 1 25%; /* flex-basis 25% keeps them in nice row */
    }
}

@media all and (max-width: 500px) {
    .flex-nav li {
        /* only have to change flex-basis, create stacked column */
        flex-basis: 100%;
    }
}
