/*
--------------------------------------------------------------------
TYPOGRAPHY
--------------------------------------------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    font-family: 'DM Mono', monospace;
}

/*
--------------------------------------------------------------------
STRUCTURE
--------------------------------------------------------------------
*/
.container {
    display: flex;
    border: 5px solid goldenrod;
    align-items: flex-start;
    margin-bottom: 1.6rem;
}

/* Default styles to make each box visible */
.box {
    color: white;
    font-size: 3.6rem;
    text-align: center;
    text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
    /* height: 20rem; */
}

.box1 {
    background-color: var(--color-rainbow-red);
}
.box2 {
    background-color: var(--color-rainbow-orange);
}
.box3 {
    background-color: var(--color-rainbow-yellow);
}
.box4 {
    background-color: var(--color-rainbow-radium);
}
.box5 {
    background-color: var(--color-rainbow-green);
}
.box6 {
    background-color: var(--color-rainbow-petrol);
}
.box7 {
    background-color: var(--color-rainbow-azure);
}
.box8 {
    background-color: var(--color-rainbow-blue);
}
.box9 {
    background-color: var(--color-rainbow-violet);
}
.box10 {
    background-color: var(--color-rainbow-night);
}
