/*
--------------------------------------------------------------------
TYPOGRAPHY
--------------------------------------------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

html {
    height: 100vh; /* removes css gradient banding defined in body */
}

body {
    font-family: 'DM Mono', monospace;
    background-image: linear-gradient(260deg, #2376ae, #c16ecf 100%);
    margin: 0;
}

/*
--------------------------------------------------------------------
STRUCTURE
--------------------------------------------------------------------
*/

.wrapper {
    max-width: 100rem;
    margin: 0 auto;
    padding: 50px;
}

/*
--------------------------------------------------------------------
01 - FLEX NAVIGATION
--------------------------------------------------------------------
*/

a {
    color: var(--color-white);
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem 0.5rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.2s;
}

a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.flex-nav ul {
    border: 1px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.flex-nav li {
    flex: 3; /* take 3x space as the social buttons */
}
.flex-nav .social {
    flex: 1;
}

@media all and (max-width: 1000px) {
    .flex-nav ul {
        flex-wrap: wrap; /* in order to wrap we need to set flex-basis on children */
    }
    .flex-nav li {
        flex: 1 1 50%; /* flex-basis 50% puts them in columns */
    }
    .flex-nav .social {
        flex: 1 1 25%; /* flex-basis 25% keeps them in nice row */
    }
}

@media all and (max-width: 500px) {
    .flex-nav li {
        /* only have to change flex-basis, create stacked column */
        flex-basis: 100%;
    }
}

/*
--------------------------------------------------------------------
02 - MOBILE REORDERING
--------------------------------------------------------------------
*/

/* Hide mobile menu */
.toggleNav {
    display: none;
}

/* fit img to container */
img {
    width: 100%;
}

input {
    padding: 1rem;
    border: 0;
}

header {
    margin: 2rem 0;
    background: rgba(0, 0, 0, 0.4);
}

section,
footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 2rem;
    margin: 2rem 0;
}

@media all and (max-width: 1000px) {
    /* Wrapper becomes flex container */
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    /* Hide nav and show menu */
    .toggleNav {
        display: block;
    }
    .flex-nav ul {
        display: none;
    }
    /* Toggle menu visibility */
    .flex-nav ul.open {
        display: flex;
    }
    /* Every immediate child of wrapper */
    .wrapper > * {
        order: 999;
    }
    .flex-nav {
        order: 1;
    }

    .top {
        order: 2;
    }

    .details {
        order: 3;
    }
    .signup {
        order: 4;
    }
}

/*
--------------------------------------------------------------------
03 - VERTICAL AND HORIZONTAL CENTERING
--------------------------------------------------------------------
*/

/* flex container */
.slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* first flex item */
.slider-nav li {
    flex: 2; /* they take up double the room as the arrows */
    display: flex; /* nested flex to get full height li AND links */
}
.slider-nav a {
    flex-basis: 100%;
    /* We want to stretch aswell as center */
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-nav .arrow {
    flex: 1;
    font-size: 3rem;
}

/*
--------------------------------------------------------------------
04 - PRICING GRID
--------------------------------------------------------------------
*/

.plan ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.plan ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.plan ul li:last-child {
    border-bottom: 0;
}

.plan a {
    text-decoration: none;
    background: #feff00;
    padding: 1rem;
    color: black;
    border-radius: 0.4rem;
}
.plan h2 {
    font-size: 3.6rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.2rem;
    text-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.1);
}

.price {
    font-size: 5rem;
    font-family: serif;
    margin: 1rem 0;
}

/* Flex container */
.pricing-grid {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
}

.plan {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.8rem;
    padding: 1.2rem;
    margin: 1.6rem;
    text-align: center;

    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

/* all direct descendents of .plan div */
.plan > * {
    flex: 1;
    flex-basis: 100%; /* set width */
}

.plan .cta {
    align-self: flex-end;
}
